.body{
    color: #313133;
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif, serif;
    margin: 0px;
    height: 100%;
}
.navigation{
    font-family: Courier New, Courier, monospace;
    font-size: 20px;
    background: rgba(49, 49, 46, 0.6);
}
.navigation-2 {
    color: yellow;
    text-transform: uppercase;
}
.header{
    height: 100%;
    width: 100%;
    background-image: url("../images/slider-1.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.top{
    padding-top: 20%;
}
.top-text{
    font-family: "Roboto Slab";
    color: white;
    font-size: 75px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 1%;
    padding-top: 1px;
    padding-bottom: 1px;
    background: rgba(255, 255, 0, 0.80);
}
.code-section{
    font-family: Courier New, Courier, monospace;
    color: white;
    font-size: 25px;
}
.code-section-running{
    padding-left: 1%;
    padding-top: 1%;
}
.code-text{
    background-color: black;
}
.about{
    height: 100%;
    width: 100%;
    background-image: url("../images/watermark.png"); 
}
.about-text{
    color: rgb(52, 52, 52);
    text-transform: uppercase;
    font-size: 30px;
    padding-top: 10%;
}


@media screen and (max-width: 758px){
    .about-text{
        font-size: 15px;
    }
    .code-section{
        font-family: Courier New, Courier, monospace;
        color: white;
        font-size: 15px;
    }
    .top{
        padding-top: 50%;
    }
    .top-text{
        font-size: 30px;
        font-weight: 700;
    }
}